body{
    background: url(../images/tiny_grid.png);
}

.custom-banner{
    background: #5776B7 !important;
    color: #FFFFFF;
    border-radius: 0 0 0 0 !important;
}

.white-color{
    color: #FFFFFF !important;
}

.display-none{
    display: none !important;
}